@using OnlineLibrary.Core.Domain.Entities
@model User

@{
    ViewData["Title"] = "My User | Online Library";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>
<br>
@if ((string?)TempData[""] == "true")
{
<div class="alert alert-danger" role="alert">
    Fill out at least all the fields except password.
</div>
}
@if ((string?)TempData["emailTaken"] == "true")
{
<div class="alert alert-danger" role="alert">
    That email is already taken.
</div>
}
<br>

<div class="card" style="width: 32rem;">
    <div class="card-body">
        <h5 class="card-title fs-3">Update user</h5>
        <h6 class="card-subtitle mb-2 text-muted">Online Library Management System</h6>
        <br>
        <br>
        <form asp-controller="Profile" asp-action="UpdateUser" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Full Name</span>
                <input asp-for="FullName" type="text" class="form-control" placeholder="Full name" aria-label="Full name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Date of birth</span>
                <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="Date of birth" aria-label="Date of birth">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password</span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id">
      
            <button class="btn btn-primary">Update user info</button> 
            <button asp-controller="Catalog" asp-action="Index" class="btn btn-secondary">Go back</button>

        </form>
    </div>
</div>