@using OnlineLibrary.Core.Domain.Entities
@model Publisher
@{
    ViewData["Title"] = "Create Publisher | OL";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

@if ((string?)TempData[""] == "true")
{
<div class="alert alert-danger" role="alert">
    Fill out all the fields!
</div>
}

<form asp-controller="Publisher" asp-action="Create" method="post">
    <div class="card">
        <div class="input-group mb-3">
            <span class="input-group-text">Publisher Name</span>
            <input asp-for="Name" type="text" class="form-control" placeholder="Publisher Name" aria-label="Publisher Name" aria-describedby="basic-addon1">
        </div>
    </div>
    <br>
    <br>
    <input type="hidden" asp-for="Id">

    <button class="btn btn-primary">Create</button>
</form>