@using OnlineLibrary.Core.Domain.Entities
@using OnlineLibrary.Core.Domain.Enums
@model Book

@{
    ViewData["Title"] = "Create Book | OL";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<br>
@if ((string?)TempData[""] == "true")
{
<div class="alert alert-danger" role="alert">
    Fill out all the fields!
</div>
}
<br>

<form asp-controller="Book" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input asp-for="Title" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Synopsis</span>
            <input asp-for="Synopsis" type="text" class="form-control" placeholder="Synopsis" aria-label="Synopsis" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Pages Count</span>
            <input asp-for="PagesCount" type="number" class="form-control" placeholder="Pages Count" aria-label="Pages Count" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Published Date</span>
            <input asp-for="PublishedDate" type="date" class="form-control" placeholder="Published Date" aria-label="Published Date" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Photo</span>
            <input name="img" type="file" accept="image/png" class="form-control" placeholder="Published Date" aria-label="Published Date" aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
            <label>Book Genre</label>
            <select class="px-6 py-3 rounded" asp-for="BookGenre" asp-items="Html.GetEnumSelectList<BookGenre>()">
            </select>
        </div>
        <div class="mb-3">
            <label>Author</label>
            <select class="px-6 py-3 rounded" asp-for="AuthorId" asp-items="ViewBag.ViewAuthors"></select>
        </div>
        <div class="mb-3">
            <label>Publisher</label>
            <select class="px-6 py-3 rounded" asp-for="PublisherId" asp-items="ViewBag.ViewPublishers"></select>
        </div>
    </div>
    <br>
    <br>
    <input type="hidden" asp-for="Id">

    <button class="btn btn-primary">Create</button>
</form>