@{
    Layout = "_Layout";
    ViewData["Title"] = "Books | Online Library";
}

<div class="container-fluid m-12">
    <h1>Books</h1>
    <br><br>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://cdn.kobo.com/book-images/392971e9-4f19-4827-a041-3abe4d0e1f54/1200/1200/False/don-quixote-111.jpg" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Don Quixote</h5>
            <p class="card-text">Miguel de Cervantes</p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
</div>