@using OnlineLibrary.Core.Domain.Entities
@model List<Author>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Authors | Online Library";
}

<div class="container-fluid m-12">
    <h1>Authors</h1>
    <br><br>
    <a class="btn btn-primary" asp-controller="Author" asp-action="Create">Create Author</a>
    <br><br>
    
    @if (Model.Count == 0)
    {
        <h2>No Authors found</h2>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (Author author in Model)
            {
                <tr>
                    <td>@author.Id</td>
                    <td>@author.FullName</td>
                    <td><a class="btn-warning btn" asp-controller="Author" asp-action="Edit">Edit</a> 
                        <a class="btn-danger btn" asp-controller="Author" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    
</div>