@{
    Layout = "_Layout";
    ViewData["Title"] = "Authors | Online Library";
}

<div class="container-fluid m-12">
    <h1>Authors</h1>
    <br><br>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
    <div class="card d-inline-block mx-3 my-2" style="width: 16rem;">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRIblDrh-atn2M6VvE9u6CoBSoA2uEGhk821CWtfI1A_HShj55Q" class="card-img-top" height="250" style="object-fit: cover" alt="">
        <div class="card-body">
            <h5 class="card-title">Miguel de Cervantes</h5>
            <a href="#" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>