@using OnlineLibrary.Core.Domain.Entities
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Password Forgotten | Online Library</title>
</head>
<body class="d-flex min-vh-100 justify-content-center align-items-center">
<div class="card" style="width: 32rem;">
    <div class="card-body">
        <h5 class="card-title fs-3">Password Forgotten</h5>
        <h6 class="card-subtitle mb-2 text-muted">Online Library Management System</h6>
        <br>
        @if ((string?) ViewData[""] == "true")
        {
        <div class="alert alert-danger" role="alert">
            Wrong email
        </div>
        }
        <br>
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input name="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <button class="btn btn-primary">Send reset token</button>
        </form>
        <br>
        <br>
        <p><a asp-controller="Auth" asp-action="Login" class="card-link">Return to login</a></p>
    </div>
</div>
</body>
</html>