@using OnlineLibrary.Core.Domain.Entities
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Login | Online Library</title>
</head>
<body class="d-flex min-vh-100 justify-content-center align-items-center">
<div class="card" style="width: 32rem;">
    <div class="card-body">
        <h5 class="card-title fs-3">Log In</h5>
        <h6 class="card-subtitle mb-2 text-muted">Online Library Management System</h6>
        <br>
        @if ((string?) ViewData[""] == "true")
        {
            <div class="alert alert-danger" role="alert">
                Wrong credentials
            </div>
        }
        @if ((string?) TempData["sent"] == "true")
        {
            <div class="alert alert-success" role="alert">
                Email sent
            </div>
        }
        <br>
        <form asp-controller="Auth" asp-action="Login" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input asp-for="Email" type="text" class="form-control" placeholder="Email" aria-label="Email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Password</span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
            <button class="btn btn-primary">Log In</button>
        </form>
        <br>
        <br>
        <p>Don't have an account? <a asp-controller="Auth" asp-action="Register" class="card-link">Sign up</a></p>
        <br>
        <p><a asp-controller="Auth" asp-action="ForgotPassword">Forgot your password?</a></p>
    </div>
</div>
</body>
</html>