@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <title>Sign up | Online Library</title>
</head>
<body class="d-flex min-vh-100 justify-content-center align-items-center">
<div class="card" style="width: 32rem;">
  <div class="card-body">
    <h5 class="card-title fs-3">Sign up</h5>
    <h6 class="card-subtitle mb-2 text-muted">Online Library Management System</h6>
    <br>
    <br>
    <div class="input-group mb-3">
      <span class="input-group-text">Full Name</span>
      <input type="text" class="form-control" placeholder="Full name" aria-label="Full name">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Username</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input type="email" class="form-control" placeholder="Email" aria-label="Email">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Password</span>
      <input type="password" class="form-control" placeholder="Password" aria-label="Password">
    </div>
    <button class="btn btn-primary">Sign up</button>
    <br>
    <br>
    <p>Already have an account? <a href="#" class="card-link">Log In</a></p>
  </div>
</div>
</body>
</html>