@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Reset Password | Online Library</title>
</head>
<body class="d-flex min-vh-100 justify-content-center align-items-center">
<div class="card" style="width: 32rem;">
    <div class="card-body">
        <h5 class="card-title fs-3">Reset Password</h5>
        <h6 class="card-subtitle mb-2 text-muted">Online Library Management System</h6>
        <br>
        @if ((string?)TempData[""] == "true")
        {
            <div class="alert alert-danger" role="alert">
                Please, type a password
            </div>
        }
        <br>
        <form asp-controller="Auth" asp-action="ResetPasswordPost" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">New password</span>
                <input name="newPassword" type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
            <button class="btn btn-primary">Change password</button>
            <input type="hidden" name="token" value="@ViewData["token"]">
        </form>
        <br>
        <br>
        <p><a asp-controller="Auth" asp-action="Login" class="card-link">Return to login</a></p>
    </div>
</div>
</body>
</html>